/* Base */
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");

/* Pages */
@import url("./pages/home.css");
@import url("./pages/gallery.css");
@import url("./pages/notes.css");
@import url("./pages/about.css");
